body {
  margin: 0;
  padding: 0;
}

.about-container {
  background: linear-gradient(to bottom right, #4b2e18, #a0522d); 
  color: white;
  height: 100vh;
  width: 100vw; /* full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.about-content {
  max-width: 1000px;
}

.about-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
