.container {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  justify-content: flex-start; /* Vertical alignment */
  align-items: flex-start;     /* Horizontal alignment */
}

.card {
  margin: 5px;
}

.card-img-top {
  height: 50%;
}